<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color=#000">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=10, user-scalable=0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/css/homepage.css" type="text/css">
    <title>Expange</title>
</head>

<body>
    <div class="ui inverted pointing fixed menu" id="top_menu">
        <a class="item active">
            Expange
        </a>
    </div>
    <div class="ui modal rest" id="messageModal">
        <div class="header" id="messageHeader"></div>
        <div class="content" id="messageContent">
        </div>
        <div class="actions">
            <div class="ui approve positive button" id="messageButton"></div>
        </div>
    </div>
    <div class="container" id="main_div">
        <div id="main_btn">
            <p id="title">Expange</p>
            <p id="main_content_para">Experience the Change.
            </p>
            <button class="ui primary button">Download App</button>
            <button class="ui red basic button">Read More</button>
        </div>
    </div>
    <div class="ui clearing divider"></div>
    <div class="ui alternate stripe vertical segment" id="floating">
        <div class="ui stackable center aligned grid container">
            <div class="fourteen wide column">
                <h1 class="ui icon header">
                    <i class="rocket icon"></i>
                    Liberate your Travel Experience
                </h1>
                <div class="ui clearing divider"></div>
                <div class="ui stackable center aligned vertically padded grid">
                    <div class="eight wide column">
                        <h3 class="ui header">Future Ready</h3>
                        <p>To Connect you by making your journey hassle free. We provide complete service from booking
                            tickets to boarding vehicles right at your doorsteps.</p>
                        <a class="ui large right labeled primary icon button" href="#">
                            <i class="right chevron icon"></i>
                            Get Started Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature alternate ui stripe vertical segment" id="third">
        <div class="ui three column center aligned divided relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <h2 class="ui icon header">
                        <i class="car icon"></i>
                        Now avail vehicles at your doorsteps.
                    </h2>
                    <p>One click travel solution <em>anytime, anywhere.</em>.</p>
                </div>
                <div class="column">
                    <h2 class="ui icon header">
                        <i class="road icon"></i> Make Travel Easy.
                    </h2>
                    <p>Move ahead of Crowd, <em>Travel smart and hasslefree.</em></p>
                </div>
                <div class="column">
                    <h2 class="ui icon header">
                        <i class="clock outline icon"></i> Time Efficient.
                    </h2>
                    <p>
                        Save your precious time for the things that matter.
                        <em>Our service is fast efficient.</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment" id="four">
        <div class="ui stripe community vertical segment">
            <div class="ui two column center aligned divided very relaxed stackable grid container">
                <div class="row">
                    <div class="column">
                        <img class="ui rounded fluid image" src="/assets/laptop.jpg">
                    </div>
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="calendar alternate outline icon"></i>
                            Journey Details
                        </h2>
                        <p>Nothing new here, usual process, fill in your travel timing, vehicle preferences, travel mode
                            and any other preferences, our cab will pick you up at the scheduled time. No delays.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui stripe community vertical segment">
            <div class="ui two column center aligned divided very relaxed stackable grid container">
                <div class="row">
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="info icon"></i>
                            Basic Informations
                        </h2>
                        <p>We don't trade information, your entered data will be secured and protected by us. you just
                            need to enter basic informations, most basic ones, travel preferences to be one liner.</p>
                    </div>
                    <div class="column">
                        <img class="ui large bordered rounded image" src="/assets/single_mobile.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui stripe community vertical segment">
            <div class="ui two column center aligned divided very relaxed stackable grid container">
                <div class="row">
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="map pin icon"></i>
                            Pickup Location
                        </h2>
                        <p>Its time you chose boldness, its time you chose to begin your journey from your preffered
                            location, our services will arrive at your selected location, maybe before even you reach
                            there.</p>
                    </div>
                    <div class="column">
                        <img class="ui rounded fluid image" src="/assets/wait.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui stripe community vertical segment">
            <div class="ui two column center aligned divided very relaxed stackable grid container">
                <div class="row">
                    <div class="column">
                        <img class="ui rounded fluid image" src="/assets/taxi.jpg">
                    </div>
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="map marker alternate icon"></i>
                            Drop Location
                        </h2>
                        <p>It is good to have an end to journey towards, but it is the journey that matters in the end,
                            which requires that you enter your drop location carefully.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui stripe community vertical segment">
            <div class="ui two column center aligned divided very relaxed stackable grid container">
                <div class="row">
                    <div class="column">
                        <h2 class="ui icon header">
                            <i class="smile outline icon"></i>
                            Make memories with each ride
                        </h2>
                        <p> Good company in a journey makes the way seem shorter, a passenger onboard is a surprised
                            guest of the driver, to drive safe and to look after passenger is our first priority. We
                            take care of you while you travel and
                            enjoy your journey.</p>
                    </div>
                    <div class="column">
                        <img class="ui rounded fluid image" src="/assets/road_mirror.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui alternate stripe vertical segment">
        <div class="ui stackable center aligned grid container">
            <div class="sixteen wide column">
                <h1 class="ui icon header">
                    <i class="handshake icon"></i> Our Benefits
                </h1>
                <div class="ui clearing divider"></div>
                <div class="ui four column stackable grid">
                    <div class="column">
                        <div class="ui segment message">
                            <h2 class="ui icon header">
                                <i class="smile outline icon"></i>
                            </h2>
                            <p> Hassle free travel experience</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment message">
                            <h2 class="ui icon header">
                                <i class="sort numeric down icon"></i>
                            </h2>
                            <p> No long queue at ticket counters.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment message">
                            <h2 class="ui icon header">
                                <i class="clock outline icon"></i>
                            </h2>
                            <p> No waiting at Bus stands. your time, your way.</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui segment message">
                            <h2 class="ui icon header">
                                <i class="taxi icon"></i>
                            </h2>
                            <p> Simple and Easy, Door to door service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui alternate stripe vertical segment">
        <div class="ui stackable center aligned grid container">
            <div class="fourteen wide column">
                <h1 class="ui icon header">
                    <i class="briefcase icon"></i>
                    Our Services
                </h1>
                <div class="ui clearing divider"></div>
                <div class="ui placeholder segment">
                    <div class="ui two column stackable center aligned grid" id="last">
                        <div class="ui vertical divider">-</div>
                        <div class="middle aligned row">
                            <div class="column">
                                <div class="ui icon header">
                                    <i class="car icon"></i>
                                    Private Vehicles
                                </div>
                                <h5><i class="quote left icon"></i> Book your ride and travel in private. Experience the
                                    change
                                    today! <i class="quote right icon"></i></h5>
                            </div>
                            <div class="column">
                                <div class="ui icon header">
                                    <i class="taxi icon"></i>
                                    Public Vehicles
                                </div>
                                <h5><i class="quote left icon"></i> Book your ride and share your travel experience with
                                    fellow
                                    co-passenger. Unbelievable comfort and happy stories. Join today!
                                    <i class="quote right icon"></i></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="ui centered grid">
        <form class="ui form segment" id="getTouchForm">
            <h2 class="ui center aligned dividing header"><i class="phone icon"></i>
                Get In Touch</h2>
            <div class="required field">
                <div class="two fields">
                    <div class="required field">
                        <label>First Name</label>
                        <input name="fName" type="text" placeholder="First Name">
                    </div>
                    <div class="required field">
                        <label>Last Name</label>
                        <input name="lName" type="text" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>Email</label>
                <div class="fields">
                    <div class="sixteen wide field">
                        <input type="text" name="eAddress" placeholder="Email Address">
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Contact No.</label>
                    <input type="text" name="phone" placeholder="Contact No.">
                </div>
                <div class="required field">
                    <label>Subject</label>
                    <select name="subject" class="ui fluid dropdown">
                        <option value="">Subject</option>
                        <option value="INF">Need more Info</option>
                        <option value="CAB">Need Tie Up related info</option>
                        <option value="FS">Feedback and Suggestions</option>
                        <option value="OTHERS">Others</option>
                    </select>
                </div>
            </div>
            <div class="required field">
                <label>Message</label>
                <textarea name="msg"></textarea>
            </div>
            <button class="ui fluid primary button" id="submitBtn">Submit Message</button>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="ui segment" style="background: #0A0A01;">
        <div id='btn-grp'>
            Follow us on
            <a class="ui circular facebook icon button" href="https://www.facebook.com/expange/">
                <i class="facebook icon"></i>
                facebook
            </a>
            <button class="ui circular google icon button" href="www.expange.tech@mail.com">
                <i class="google icon"></i>
                mail
            </button>
            <a class="ui circular instagram button" id="insta" href="https://www.instagram.com/expange.tech/">
                <i class="instagram icon"></i>
                Instagram
            </a>
            <a class="ui circular whatsapp button" id="whatsapp" href="#">
                <i class="whatsapp icon"></i>
                Whataspp
            </a>
        </div>
        <div id="final_div">
            www.expange.com
        </div>
    </div>

    <script type="text/javascript" src="/script/jQuery-3.4.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="/script/homescript.js" type="text/javascript"></script>
</body>

</html>